[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twisted = "*"
scrapy = "*"
scrapy-sentry = "*"
city-scrapers-core = {extras = ["azure"],version = "*"}
python-dateutil = "*"
scrapy-wayback-middleware = "*"
chardet = "*"
pdfminer-six = "*"

[dev-packages]
freezegun = "*"
pytest = "*"
"flake8" = "*"
isort = "*"
black = "*"

[requires]
python_version = "3.9"